.user-register-container {
    position: relative;
}

.user-register-container img {
    width: 100%;
}

.user-register-container .register-content {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    padding: 20px 10%;
    border-left: rgb(224, 224, 224) solid 1px;
    border-right: rgb(224, 224, 224) solid 1px;
}

.user-register-container .register-content > button {
    position: absolute;
    bottom: 5%;
    right: 37%;
    background-color: rgb(131, 17, 21);
    color: rgb(255, 255, 255);
}

.user-register-container .register-content .input-panel {
    margin-top: 10px;
}

.user-register-container .register-content .input-panel input {
    width: 70%;
    margin-right: 10px;
    display:inline-block;
    font-size: 14px;
}

.user-register-container .register-content .input-panel input:focus {
    border-color: rgb(131, 17, 21);
}

.user-register-container .register-content .input-panel span {
    color: rgb(255, 0, 0);
    font-size: 12px;
}

.user-register-container .upload-panel {
    margin-top: 20px;
    position: relative;
    width: 70%;
}

.user-register-container .upload-panel span.btn {
    position: absolute;
    width: 70px;
    height: 26px;
    padding: 4px 0;
    bottom: 0;
    right: 0;
    font-size: 12px;
    border: 1px solid rgb(131, 17, 21);
    overflow: hidden;
}

.user-register-container .upload-panel input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 136px;
    height: 26px;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
}

.user-register-container .upload-panel .upload-camera {
    background-color: rgb(238, 238, 238);
    width: 100px;
    height: 100px;
    position: relative;
}

.user-register-container .upload-panel .upload-camera span.btn,
.user-register-container .upload-panel .upload-camera input[type="file"] {
    width: 100%;
    height: 100%;
    border: none;
}

.user-register-container .upload-panel .upload-camera i {
    color: rgb(102, 102, 102);
    position: absolute;
    top: 34%;
    left: 34%;
}

.user-register-container .upload-panel .upload-camera img {
    width: 100%;
    height: 100%;
}

.user-register-container .upload-panel .upload-explain {
    position: absolute;
    top: 0;
    left: 135px;
}

.user-register-container .upload-panel .upload-explain p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
}

.img-preview {
    position: absolute;
    top: 15px;
    right: 45px;
    overflow: hidden;
    border: 1px solid rgb(131, 17, 21);
}