body {
    margin: 0;
    padding: 0;
    font-family:
            Verdana,
            Arial,
            "Microsoft YaHei", "微软雅黑",
            STXihei, "华文细黑",
            serif;
}

.main-background {
    background-color: rgb(131, 17, 21);
}