.header {
    color: rgb(212, 212, 212);
    border-radius: 0;
    padding-left: 60px;
}

.header img {
    height: 40px;
}

.header ul.nav {
    margin-left: 200px;
}

.header li.nav-item {
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 40px;
}

.header .user-info {
    margin-top: 5px;
}
.header .user-info > div {
    display: inline-block;
}

.header .dropdown {
    font-size: 14px;
}

.header .dropdown a,
.header .dropdown a:hover {
    color: rgb(212, 212, 212);
}

.header .dropdown a:focus,
.header .dropdown a:hover {
    text-decoration: none;
}

.header .dropdown .dropdown-menu {
    text-align: center;
    background-color: rgb(169, 68, 66);
    font-size: 14px;
}

.header .avatar {
    margin-right: 10px;
}

.header .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.footer {
    background-color: rgb(45, 45, 45);
    color: rgb(212, 212, 212);
    width: 100%;
    padding: 10px 0;
    /*position: absolute;*/
    /*bottom: 0;*/
    text-align: center;
    font-size: 12px;
}

.footer a:focus,
.footer a:hover {
    text-decoration: none;
}

.footer .footer-content {
    overflow: hidden;
    width: 70%;
    height: 100%;
    padding-left: 300px;
}

.footer .footer-content  > div {
    display: inline;
    float: left;
    width: 33%;
    height: 100%;
}

.footer p {
    letter-spacing: 2px;
}

.footer .contact-us {
    text-align: left;
}

.footer .contact-us a,
.footer .contact-us a:hover,
.footer .contact-us > div {
    color: rgb(112, 112, 112);
}

.footer .contact-us > div i {
    margin-right: 10px;
}

.footer .about-us {
}

.footer .about-us a, 
.footer .about-us a:hover {
    color: rgb(212, 212, 212);
} 

.footer .join-us {
}

.footer .join-us img {
    width: 60px;
    height: 60px;
}

.footer .copyright {
    color: rgb(168, 168, 168);
}
