

.hot-column {
    margin: 10px;
}

.hot-column .hot-column-list {
    position: relative;
    width: 80%;
    right: 10%;
    left: 10%;
    margin-left: 20px;
}

.hot-column .hot-column-list img {
    height: 100%;
    width: 100%;
}

.hot-column .hot-column-list .large-column {
    width: 48%;
    height: 340px;
    position: absolute;
}

.hot-column .hot-column-list .small-column {
    width: 45%;
    height: 166px;
    position: relative;
    left: 50%;
}

.hot-column .hot-column-list .bottom-small-column {
    margin-top: 8px;
}

.hot-column .hot-column-list .large-column .column-info {
    position: absolute;
    width: 60%;
    z-index: 1000;
    top: 15%;
    left: 20%;
    color: #fff;
    text-align: center;
}

.hot-column .hot-column-list .large-column .column-info .title {
    font-size: 24px;
    letter-spacing: 4px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 0 8px;
}

.hot-column .hot-column-list .large-column .column-info .detail {
    font-size: 14px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 24px;
}

.hot-column .hot-column-list .small-column .column-title {
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    padding: 8px 0;
}

.hot-column .hot-column-more {
    text-align: center;
    margin-top: 10px;
}

.hot-column .hot-column-more .tag {
    background-color: rgb(131, 17, 21);
    width: 76px;
    height: 30px;
    padding-top: 9px;
    font-size: 12px;
    font-weight: normal;
}

.column-list-header {
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

.column-list-header .col-select {
    display: inline-block;
    float: none;
    margin-right: 30px;
}

.column-list-header .col-select span {
    display: inline-block;
    margin-right: 6px;
    color: rgb(156, 156, 156);
}

.column-list-header .col-select select.form-control {
    font-size: 14px;
    padding-right: 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: transparent;
    background: url(/public/imgs/common/select.jpg) no-repeat scroll right center transparent;
    background-size: 11px 11px;
}

.column-list-header .col-select select.form-control::-ms-expand {
    display: none;
}

.column-list-container {
    text-align: center;
}

.column-list {
    width: 80%;
    text-align: left;
    display: inline-block;
}


.column-list .column {
    display: inline-block;
    width: 31%;
    margin: 10px 1%;
    border-radius: 8px;
}

.column .column-img {
    width: 100%;
    height: 170px;
}

.column-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.column .column-detail {
    margin-left: 10px;
}

.column .column-detail > div {
    margin-top: 10px;
}

.column-name-status > div {
    display: inline-block;
    width: 50%;
}

.column-op button {
    background-color: rgb(160, 25, 25);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 1px;
}

.column-op span em {
    font-size: 12px;
}
.column-op span {
    color: rgb(252, 0, 0);
    margin-right: 10px;
}

.column-name {
    font-size: 16px;
    text-align: left;
    letter-spacing: 2px;
}

.column-status {
    text-align: right;
}

.column-status i {
    margin-right: 16px;
}

.column-status .status-i {
    display: inline-block;
    position: relative;
}

.column-status .status-i > span {
    display: inline-block;
    position: absolute;
    background-color: rgb(160, 25, 25);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    top: -5px;
    left: 10px;
}

.column .column-tag {
    font-size: 12px;
    text-align: left;
}

.column-tag span {
    border: 1px solid rgb(156, 156, 156);
    margin-right: 10px;
    border-radius: 10px;
    padding: 1px 6px;
    color: rgb(156, 156, 156);
}

.column-tag span.completed {
    border: none;
    background-color: rgb(131, 17, 21);
    color: rgb(255, 255, 255);
}

.column .column-desc {
    font-size: 13px;
    color: rgb(130, 130, 130);
    text-align: left;
    margin-bottom: 20px;
}

.column .column-desc p {
    margin-bottom: 6px;
}

.column .column-desc p a,
.column .column-desc p a:focus,
.column .column-desc p a:hover {
    color: rgb(168, 107, 109);
}

.column-detail-container {
    background-color: rgb(246, 247, 249);
}

.column-detail-container .column-detail-content {
    margin: 0 10%;
    padding: 2% 10%;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-left: rgb(224, 224, 224) solid 1px;
    border-right: rgb(224, 224, 224) solid 1px;
}

.column-detail-container .column-back {
    position: absolute;
    left: 10px;
    top: 20px;
}

.column-detail-container a {
    color: rgb(124, 124, 124);
    font-size: 12px;
}

.column-detail-container a:hover {
    color: rgb(0, 0, 0);
}

.column-detail-container .column-img {
    margin-top: 10%;
}

.column-detail-container .column-img img {
    border-radius: 0;
}

.column-detail-container .column-name-status {
    margin: 20px 0;
}

.column-detail-container .column-desc {
    font-size: 14px;
}

.column-detail-container .column-name-status .column-name {
    width: 20%;
}

.column-detail-container .column-name-status .column-tag {
    width: 40%;
    font-size: 12px;
}

.column-detail-container .column-name-status .column-status {
    width: 20%;
}

.column-detail-container .column-op {
    margin-top: 50px;
    text-align: right;
}

.column-detail-container .column-op button {
    background-color: rgb(122, 16, 17);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 4px;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

.column-detail-container .column-op div {
    float: right;
}

.column-detail-container .column-detail-content > p {
    margin-top: 40px;
    font-size: 12px;
    color: rgb(204, 204, 204);
}

.column-detail-container .column-prev,
.column-detail-container .column-next {
    position: absolute;
    top: 50%;
}

.column-detail-container .column-prev i,
.column-detail-container .column-next i {
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    opacity:0.2;
}

.column-detail-container .column-prev a:hover i,
.column-detail-container .column-next a:hover i {
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

.column-detail-container .column-prev {
    left: 20px;
}

.column-detail-container .column-next {
    right: 20px;
}