body {
    margin: 0;
    padding: 0;
    font-family:
            Verdana,
            Arial,
            "Microsoft YaHei", "微软雅黑",
            STXihei, "华文细黑",
            serif;
    letter-spacing: 2px;
}

div {
    margin: 0;
    padding: 0;
}

a:focus,
a:hover {
    text-decoration: none;
}

input:focus {
    border-color: rgb(131, 17, 21);
}

.main-background {
    background-color: rgb(131, 17, 21);
}

.main {
    padding: 60px 0 0 0;
    margin: 0;
    height: 100%;
}

.banner img {
    width: 100%;
    height: 400px;
}

.unslider {
    position: relative;
}

.unslider .unslider-nav {
    position: absolute;
    bottom: 0;
    left: 43%;
}

.unslider .unslider-nav ol li {
    width: 14px;
    height: 14px;
    margin: 0 10px;
    border-radius: 7px;
    border: 3px solid rgb(131, 17, 21);
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
}
.unslider .unslider-nav ol li.unslider-active {
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

.unslider .unslider-arrow {
    position: absolute;
    bottom: 50%;
}

.unslider .unslider-arrow i {
    color: rgb(131, 17, 21);
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
}

.unslider .unslider-arrow i:hover {
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

.container-title {
    text-align: center;
    padding: 40px 0;
}

.container-title .line {
    height: 1px;
    width: 20%;
    background-color: rgb(131, 17, 21);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.container-title .zh_name {
    font-size: 16px;
    letter-spacing: 4px;
}

.container-title .en_name {
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(156, 156, 156);
}

.search-bar {
    height: 80px;
    width: 100%;
    padding: 10px;
}

.search-bar > div {
    float: right;
}

.search-bar i {
    position: absolute;
    right: 24px;
    top: 12px;
}

.search-bar input:focus {
    border-color: rgb(131, 17, 21);
}

.search-bar span {
    float: right;
    margin: 5px 0;
}

.search-bar span a {
    font-size: 12px;
    color: rgb(156, 156, 156);
    letter-spacing: 1px;
}

.search-bar span a:focus,
.search-bar span a:hover {
    color: rgb(0, 0, 0);
}

.column-search-modal .modal-header {
    border-bottom: none;
}
.column-search-modal .modal-body{
    margin: 10px 60px;
}
.column-search-modal .modal-footer {
    border-top: none;
    text-align: center;
    margin-bottom: 20px;
}

.column-search-modal .column-search-input input:focus {
    border-color: rgb(131, 17, 21);
}

.column-search-modal .column-search-input i {
     position: absolute;
     right: 24px;
     top: 24px;
}

.column-search-modal .column-search-tag {
    margin-top: 24px;
}

.column-search-modal .column-search-tag > div {
    margin-bottom: 12px;
}

.column-search-modal .column-search-tag span {
    margin-right: 10px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 2px;
}

.column-search-modal .column-search-tag .name em {
    font-style: normal;
    letter-spacing: 20px;
    margin-right: -20px;
}

.column-search-modal .column-search-tag span a {
    color: rgb(156, 156, 156);
}

.column-search-modal .column-search-tag span:not(.name):hover {
    background-color: #fff;
    -moz-box-shadow: 1px 2px 20px 1px #d3d3d3;
    -webkit-box-shadow: 1px 2px 20px 1px #d3d3d3;
    box-shadow: 1px 2px 20px 1px #d3d3d3;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.column-search-modal .column-search-tag span a.selected {
    color: rgb(185, 7, 32);
}

.shadow {
    background-color: #fff;
    -moz-box-shadow: 1px 2px 20px 1px #d3d3d3;
    -webkit-box-shadow: 1px 2px 20px 1px #d3d3d3;
    box-shadow: 1px 2px 20px 1px #d3d3d3;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.cooperative-unit {
    margin: 10px 0;
    background-color: rgb(247, 247, 247);
}

.cooperative-unit-list {
    text-align: center;
    height: 120px;
}

.cooperative-unit-list .coop {
    width: 150px;
    height: 80px;
    display: inline-block;
    margin-right: 16px;
}

.cooperative-unit-list .coop:hover {
    width: 260px;
    height: 110px;
}

.cooperative-unit-list .coop img {
    width: 100%;
    height: 100%;
}